/*Juntei o 'main.css' e o 'index.css' aqui. */
/* É o nosso "Bootstrap" customizado do projeto. */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-body: #f6f6f6;
  --bg-dark: #242424;
  --bg-white: #ffffff;

  --bg-primary: rgba(13, 110, 253, 1);
  --bg-secondary: rgba(108, 117, 125, 1);
  --bg-success: rgba(25, 135, 84, 1);
  --bg-info: rgba(13, 202, 240, 1);
  --bg-add: rgba(25, 135, 84, 1);
  --bg-edit: rgba(13, 110, 253, 1);
  --bg-warning: rgba(255, 193, 7, 1);
  --bg-danger: rgba(220, 53, 69, 1);
  --bg-delete: rgb(220, 53, 69, 1);
  --bg-cancel: rgb(108, 117, 125, 1);
  --bg-light: rgba(248, 249, 250, 1);
  --bg-modal: rgba(0, 0, 0, 0.5);

  /* Cores de texto */
  --text-primary: rgba(13, 110, 253, 1);
  --text-secondary: rgba(108, 117, 125, 1);
  --text-success: rgba(25, 135, 84, 1);
  --text-info: rgba(13, 202, 240, 1);
  --text-warning: rgba(255, 193, 7, 1);
  --text-danger: rgba(220, 53, 69, 1);
  --text-light: rgba(248, 249, 250, 1);
  --text-dark: rgba(33, 37, 41, 1);
  --text-black: #212529;
  --text-white: #ffffff;
  --text-body: #212121;

  /* Cores auxiliares */
  --border-default: #dee2e6;
  --border-danger: #dc3545;
  --border-success: #28a745;
  --border-add: #146c43;
  --border-info: #0dcaf0;
  --border-edit: #0a58ca;
  --border-delete: #b02a37;
  --border-cancel: #5c636a;
  --border-color: #86b7fe;

  --btn-hover-success: #157347;
  --btn-hover-danger: #bb2d3b;
  --btn-hover-warning: #ffca2c;
  --btn-hover-add: #146c43;
  --btn-hover-edit: #0b5ed7;
  --btn-hover-info: #31d2f2;
  --btn-hover-delete: #c82333;
  --btn-hover-cancel: #5c636a;
  --btn-hover-search: #0d6efd;

  --link-color: #646cff;
  --link-hover: #535bf2;

  --form-control-focus: #5b08a7;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; 
  background-color: var(--bg-body);
  color: var(--text-black);
}

.app-button {
  width: 100%;
}

.app-label {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #212529;
}

.form-control,
.form-select {
  outline: 0;
  width: 100%;
  padding: 0.75rem 0.375rem;
  padding-right: 2.8125rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.375rem;
  background: var(--bg-white);
  border: 3px solid var(--border-default);
  color: var(--text-black);
}

.form-control:focus {
  border-color: var(--form-control-focus);
  background-image: none;
}

.form-control.is-invalid:focus {
  border-color: var(--border-danger);
  background-image: none;
}

.form-control.is-invalid {
  border-color: var(--border-danger);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='0 0 24 24'%3E%3Cpath d='M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0zm1 17h-2v-2h2v2zm0-4h-2V7h2v6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.9375rem center;
  background-size: 1.25rem; 
}

.form-control.is-valid {
  border-color: var(--border-success);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2328a745' viewBox='0 0 24 24'%3E%3Cpath d='M9 16.17l-3.88-3.88L4 13.41l5 5 10-10-1.41-1.41z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.9375rem center;
  background-size: 1.25rem;
}

.form-control.is-valid:focus {
  border-color: var(--border-success);
  background-image: none;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}

.form-select:focus {
  border-color: var(--border-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--text-danger);
}

.valid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--text-success);
}

.control-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #495057;
}

/* definição css para o botão  geral */
.btn {
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  gap: 0.5rem; 

  padding: 0.75rem 0.375rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 0.0625rem solid #dee2e6;
  border-radius: 0.375rem;
  background-color: transparent;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.btn-label {
  display: inline-block;
}

/* definição para o botão de sucesso */
.btn-success {
  color: var(--text-white);
  background: var(--bg-success);
  border-color: var(--bg-success);
}

.btn-success:hover,
.btn-success:disabled {
  color: var(--text-white);
  background: var(--btn-hover-success);
  border-color: var(--btn-hover-success);
}

/* definição do botão new */
.btn-add {
  color: var(--text-white);
  background: var(--bg-add);
  border-color: var(--bg-add);
}

.btn-add:hover,
.btn-add:disabled {
  color: var(--text-white);
  background: var(--btn-hover-add);
  border-color: var(--btn-hover-add);
}

/* definição do botão edit */
.btn-edit {
  color: var(--text-white);
  background: var(--bg-edit);
  border-color: var(--bg-edit);
}

.btn-edit:hover,
.btn-edit:disabled {
  color: var(--text-white);
  background: var(--btn-hover-edit);
  border-color: var(--btn-hover-edit);
}

/* definição do botão info */
.btn-info {
  color: var(--text-dark);
  background: var(--bg-info);
  border-color: var(--bg-info);
}

.btn-info:hover,
.btn-info:disabled {
  color: var(--text-dark);
  background: var(--btn-hover-info);
  border-color: var(--btn-hover-info);
}

/* definição do botão warning */
.btn-warning {
  color: var(--text-black);
  background: var(--bg-warning);
  border-color: var(--bg-warning);
}

.btn-warning:hover,
.btn-warning:disabled {
  color: var(--text-black);
  background: var(--btn-hover-warning);
  border-color: var(--btn-hover-warning);
}

/* definição do botão danger */
.btn-delete {
  color: var(--text-white);
  background: var(--bg-delete);
  border-color: var(--bg-delete);
}

.btn-delete:hover,
.btn-delete:disabled {
  color: var(--text-white);
  background: var(--btn-hover-delete);
  border-color: var(--btn-hover-delete);
}

/* definição do botão cancel */
.btn-cancel {
  color: var(--text-white);
  background: var(--bg-cancel);
  border-color: var(--bg-cancel);
}

.btn-cancel:hover,
.btn-cancel:disabled {
  color: var(--text-white);
  background: var(--btn-hover-cancel);
  border-color: var(--btn-hover-cancel);
}

/* definição do botão search */
.btn-search {
  color: var(--text-white);
  background: var(--bg-primary);
  border-color: var(--bg-primary);
}

.btn-search:hover,
.btn-search:disabled {
  color: var(--text-white);
  background: var(--btn-hover-search);
  border-color: var(--btn-hover-search);
}

/* definições de margem e padding */
.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 1rem !important; }
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top: 3rem !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 1rem !important; }
.mb-4 { margin-bottom: 1.5rem !important; }
.mb-5 { margin-bottom: 3rem !important; }
.me-3 { margin-right: 1rem !important; }
.ms-3 { margin-left: 1rem !important; }

/* configurações para o csss CARD */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: auto;
  word-wrap: break-word;
  background-color: var(--bg-white);
  color: var(--text-black);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.375rem;
  width: 70%;
  max-width: 100%;
  min-height: 30%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem;
  color: inherit;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: var(--bg-white);
  color: var(--text-black);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: var(--bg-white);
  color: var(--text-black);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* Tabela */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.2rem;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tbody tr:hover {
  background-color: #f6f1f1;
}

table > thead > tr > th {
  text-align: left;
  padding: 1.2rem;
  background-color: #5b08a7;
  color: white;
  text-align: center;
}

table > thead > tr > th.center {
  border-bottom: 1px solid #efefef;
  text-align: center;
  vertical-align: middle;
}

table > tbody > tr > td.center {
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

th.actions,
td.actions {
  width: 1%;
  white-space: nowrap;
  text-align: center;
  min-height: 100vh;
}

.display {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.alert {
  padding: 1rem;
  background-color: #ff4040;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.notification {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: #00a762;
  color: white;
  border-radius: 0.5rem;
}

/* Login (mantido do original) */
.login-signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-form .form {
  width: 560px;
  margin-top: 200px;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 560px;
  padding: 34px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 30px;
}